
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif; 
background-color: hsl(30, 38%, 92%);
min-height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}

.container{
    margin:30px auto;
    padding:0 30px;
}

.main{
    max-width:700px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#fff;
    border-radius: 15px;
    overflow: hidden;
}

.img img{
    max-width: 100%;
    display: inherit;
}

.main-content{
    padding: 35px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

h6.category{
    letter-spacing: 3px ;
    font-size: 13px;
    color:hsl(228, 12%, 48%);
    font-weight: 500; 
    
}

h2.name{
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 32px;
    color: hsl(212, 21%, 14%);
}

p.description{
    color: hsl(228, 12%, 48%);
    line-height: 20px;
}
p.new-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37% );
    font-size: 28px;
}
p.old-price{
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding-left: 25px;
}

.price{
    display:flex;
    align-items: center;
}

button.cart{
    background-color:hsl(158, 36%, 37% );
    border-radius: 10px;
    color: white;
    padding: 12px 0;
    border:none;
    font-size: 14px;
    font-weight:600;
    cursor: pointer;
    width:100%
}

button.cart img{
    padding-right: 6px;
}

button.cart:hover{
    background-color: rgba(82, 16, 16, 0.878);
}

@media only screen and (max-width: 628px){
    .main{
        grid-template-columns: 1fr;
    }
    .img img{
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .main-content{
        display:block;
    }
    h6.category, h2.name, p.description, .price{
        padding-bottom: 22px;
    }
}

@media (max-width: 628px) and (min-width: 375px){
    p.new-price{
        font-size: 36px;
    }
    p.description{
        line-height: 28px;
    }

    button.cart img{
        padding-right: 12px;
        
    }
    button.cart{
        font-size: 18px;
    }
}